[Unit]
Description = papirus nas status
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/home/pi/nasstat.py
Restart=always

[Install]
WantedBy=multi-user.target
